extends layout

block content
    .form-container
        form(action="/users/push-history", method="post")
            input(type="string", placeholder="login_uid", name="login_uid",required=true)
            input(type="submit", value="push") 