extends layout

block content
    .form-container
        form(action="/users/push-token", method ="post")
            input(type="string", placeholder="login_uid", name="login_uid",required=true)
            input(type="string", placeholder="pushToken", name="pushToken",required=true)
            input(type="submit", value="pushToken")