extends layout

block content
    .form-container
        form(action=`/taste/taste-detail`, method="post")
            input(type="string", placeholder="taste id", name="taste_id",required=true)
            input(type="string", placeholder="login_uid", name="login_uid",required=true)
            input(type="submit", value="submit") 