extends layout

block content
    .form-container
        form(action=`/users/user-collect`, method="post")
            input(type="string", placeholder="유저아이디", name="uid",required=true)
            input(type="submit", value="submit") 