extends layout

block content
    .form-container
        form(action=`/users/user-next`, method="post")
            input(type="string", placeholder="유저아이디", name="uid",required=true)
            input(type="string", placeholder="마지막게시물아이디", name="last_taste_id",required=true)
            input(type="string", placeholder="value", name="value",required=true)
            input(type="submit", value="submit") 